[core]
{%- for provider, data in salt['pillar.get']('cloud:providers').items() %}
{%-   if data.get('driver', data.provider) == 'cloudstack' and data.get('default', False) %}
profile = {{ provider }}
{%-   endif %}
{%- endfor %}
asyncblock = true
paramcompletion = true
history_file = /var/log/cloudstack/cloudmonkey.history
cache_file = /var/cache/cloudmonkey
log_file = /var/log/cloudstack/cloudmonkey.log

[ui]
color = true
prompt = 🐵 >
display = default

{%  for provider, data in salt['pillar.get']('cloud:providers')|dictsort %}
{%-   if data.get('driver', data.provider) == 'cloudstack' %}
[{{ provider }}]
url = {{ data.url }}
secretkey = {{ data.secretkey }}
apikey = {{ data.apikey }}
expires = 600
timeout = 3600
verifysslcert = true
signatureversion = 3
;nonsensical defaults
username = admin
domain = /
password = password
{%-   endif %}
{%- endfor %}
