{%- from 'shared.jinja' import salt_header -%}
{%- from 'chrony/map.jinja' import chrony as config with context -%}
{{ salt_header(msgs=['Refer to','https://chrony.tuxfamily.org/doc/3.3/chrony.conf.html']) }}

driftfile {{ config.driftfile }}
logdir {{ config.logdir }}
# Log larger adjustments
logchange 1
# Measurement history save dir
dumpdir /var/lib/chrony
# Specify file containing keys for NTP authentication.
keyfile {{ config.keyfile }}

# Get TAI-UTC offset and leap seconds from the system tz database.
leapsectz right/UTC

#log measurements statistics tracking  # Select which information is logged.

{%- set prefer='prefer' %}
{%- if masters %}
######## MASTER POOL ########
#incomplete due to ACLs
{%-   for server in masters %}
    #server {{ server }} iburst xleave {{ prefer }}
{%-   endfor %}
{%-   set prefer='' %}
{%- endif %}

{%- if private %}
######## INTERNAL POOL ########
#incomplete due to ACLs
{%-   for server in private %}
server {{ server }} iburst xleave {{ prefer }}
{%-   endfor %}
{%- endif %}

######## PUBLIC POOL ########
# Use public servers from the pool.ntp.org project.
# Please consider joining the pool (http://www.pool.ntp.org/join.html).
# 2.{pool} contains IPv6 servers; list is mapped based on nearest to {{ salt['pillar.get']('timezone', salt.timezone.get_zone()) }}
{%- for pool in public %}
pool 2.{{ pool }}.pool.ntp.org iburst minstratum 2 maxsources 1
{%- endfor %}

{%- if peers %}
######## BUDDIES ########
{%-   for buddy in (peers|batch(5)|list)[0] %}
peer {{ buddy }} iburst xleave
{%-   endfor %}
{%- endif %}

# Allow the system clock to be stepped in the first three updates if its offset is larger than 1 second.
makestep 1.0 3

# HW clock on UTC
rtconutc
{%- if grains.virtual == 'physical' %}
# Enable kernel synchronization of the real-time clock (RTC).
rtcsync
{%- endif %}
# Increase the minimum number of selectable sources required to adjust the system clock.
#minsources 2
minsources 3

# Enable hardware timestamping on all interfaces that support it.
hwtimestamp *


{%- if False == 'server' %}
#noclientlog ?
# Allow NTP client access from local network.
#allow 192.168.0.0/16

# Serve time even if not synchronized to a time source.
local stratum 10
{%- endif %}
