{%- load_yaml as defaults %}
chrony:
  package: chrony
  service: chronyd
  config: /etc/chrony.conf
  options: iburst
  logdir: /var/log/chrony
  keyfile: /etc/chrony.keys
  driftfile: /var/lib/chrony/drift
{%- endload %}

{%- load_yaml as osmap %}
Debian:
  service: chrony
  config: /etc/chrony/chrony.conf
  options: offline minpoll 8
  keyfile: /etc/chrony/chrony.keys
  driftfile: /var/lib/chrony/chrony.drift
{%- endload %}

{%- set chrony = salt.grains.filter_by(
    defaults,
    merge=salt.grains.filter_by(
        osmap,
        grain='os_family',
        merge=salt['pillar.get']('chrony', {})
        ),
    base='chrony'
) %}
