{%- from 'map.jinja' import golang_arch %}
{%- set latest = '3.3.12' %}
{%- set vers = salt['pillar.get']('etcd:version', latest) %}
{%- if vers == 'latest' %}
{%-   set vers = latest %}
{%- endif %}

{% macro etcd_url(port=2379, proto='https', names=True) -%}
{%- from 'shared.jinja' import uri %}
{%- set etcd_cluster = [] %}
{%- for peer, addr in pillar.etcd.endpoints.items() %}
{%-   set etcd_url = uri(addr, proto=proto, port=port) %}
{%-   if names %}
{%-     set etcd_url = peer ~ '=' ~ etcd_url %}
{%-   endif %}
{%-   if addr in grains.ipv4 or addr in grains.ipv6 %}
{%-     do etcd_cluster.insert(0, etcd_url) %}
{%-   else %}
{%-     do etcd_cluster.append(etcd_url) %}
{%-   endif %}
{%- endfor -%}
'{{ etcd_cluster|sort|join(',') }}'
{% endmacro %}

{%- macro etcd_install(etcd=False) -%}
{%-   set url = 'https://github.com/etcd-io/etcd/releases/download/v' ~ vers ~ '/etcd-v' ~ vers ~ '-linux-' ~ golang_arch ~ '.tar.gz' %}
{#{%-   set url = 'https://storage.googleapis.com/etcd/v' ~ vers ~ '/etcd-v' ~ vers ~ '-linux-' ~ golang_arch ~ '.tar.gz' %}#}
{%-   set extract = '"*etcdctl"' if not etcd else '"*etcdctl" "*etcd"' %}
etcd-install:
  cmd.run:
  - name: curl -fLsSv {{ url }} | tar xzv --no-same-owner --strip-components=1 -f - {{ extract }}
  - cwd: /usr/local/bin
  - unless: test $(ETCDCTL_API=3 /usr/local/bin/etcdctl version|awk '/^etcd/{ print $NF }') = {{ vers }}
{% endmacro %}
