<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ceph API landing page</title>
    </head>
    <body>
        <h1>BZZZZZT</h1>
        <figure>
            <img src="ceph.jpg">
        </figure>

            Go to any of:
        <ul>
{%- for endpoint in pillar.ceph.api.endpoint.keys() %}
            <li><a href="{{ endpoint }}">{{ endpoint }}</a></li>
{%- endfor %}
        </ul>

            And ask again there.

    </body>
</html>
