{%- set svc_name = 'api.' ~ grains.domain %}
{%- set admin_name = svc_name.split('.') %}
{%- set admin_name = 'ceph.guru@' ~ admin_name[-2:]|join('.') %}
{%- set log = '/var/log/ceph_api/httpd.log' %}
{# Your Salt Masters have access too #}
{%- set masters = salt.dnsutil.AAAA(salt.config.get('master')) %}

<VirtualHost *:80>
  ServerName {{ svc_name }}
  ServerAdmin {{ admin_name }}

  ## Logging
  ServerSignature     Off
  ErrorLog            "{{ log }}"
  CustomLog           "{{ log }}"  combined

  ## Redirect rules
  Redirect permanent  /  https://{{ svc_name }}
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ svc_name }}
  ServerAdmin {{ admin_name }}

  ## Logging
  ServerSignature        Off
  ErrorLog               "{{ log }}"
  CustomLog              "{{ log }}" combined

  ## SSL directives
  SSLEngine              on
  SSLCertificateFile     "/etc/ssl/certs/{{ svc_name }}.pem"
  SSLCertificateKeyFile  "/etc/ssl/private/{{ svc_name }}.key"

  # HSTS (mod_headers is required) (15768000 seconds = 6 months)
  Header always set      Strict-Transport-Security  "max-age=15768000"

  ## Vhost docroot
  DocumentRoot           "/var/www/html"

  ################ LDAP AUTHENTICATION ################
  <Location "/">
    # Satisfy                   all # only necessary if we put in IP whitelisting as well
    AuthType                    basic
    AuthName                    "Ceph API @{{ grains.domain }} access"
    AuthBasicProvider           ldap
    AuthLDAPURL                 "ldap://ldap.pcextreme.nl/ou=crew,dc=pcextreme,dc=nl?uid?sub"
    AuthLDAPGroupAttribute      memberUid
    AuthLDAPGroupAttributeIsDN  off

    <RequireAny>
        Require valid-user
{# Your Salt Master has access too #}
{%- for master in masters %}
        Require ip {{ master }}
{%- endfor %}
    </RequireAny>

    Require                     all denied
  </Location>

  ################ CEPH ENDPOINTS & CONFIG ################

  WSGIScriptAliasMatch       ^/({{ pillar.ceph.api.endpoint.keys()|join('|') }})        "/var/www/ceph_api.wsgi/$1"
  # Isolate the different clientid's into their own App Groups (== Python contexts)
  WSGIApplicationGroup  %{ENV:CEPH_CLIENTID}
  SetEnv                CEPH_CLUSTER          "ceph"
  SetEnv                CEPH_CONF             "/etc/ceph/ceph.conf"
  SetEnvIf Request_URI  "^(/[^/]+)"            CEPH_BASEURL=$1

{%- for endpoint, data in pillar.ceph.api.endpoint.items() %}
{%-   set client_id = data.get('id', 'restapi_' ~ endpoint) %}
  <Location "/{{ endpoint }}">
    SetEnv   CEPH_CLIENTID  "{{ client_id }}"
{%-   if 'group' in data %}
    <RequireAny>
        Require  ldap-group     {{ data.group }}
{# Your Salt Master has access too #}
{%- for master in masters %}
        Require ip {{ master }}
{%- endfor %}
    </RequireAny>
{%-   endif %}
  </Location>
{%- endfor %}
</VirtualHost>

WSGIPythonOptimize    1

# modern configuration, tweak to your needs
SSLProtocol                       all -SSLv2 -SSLv3 -TLSv1 -TLSv1.1
SSLCipherSuite                    ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
SSLHonorCipherOrder               on
SSLCompression                    off

# Neither can happen on 14.04. Jeeuj.
# SSLSessionTickets               off
# SSLOpenSSLConfCmd               DHParameters  "/etc/ssl/certs/{{ svc_name }}.dhp.pem"

# OCSP Stapling, only in httpd 2.3.3 and later
SSLUseStapling                    on
SSLStaplingResponderTimeout       5
SSLStaplingReturnResponderErrors  off
SSLStaplingCache                  shmcb:/var/run/ocsp(128000)
