[global]
{%- if fsid %}
  fsid = {{ fsid }}
{%- endif %}
  osd pool default flag hashpspool = true
  osd pool default pg num = 256
  osd pool default pgp num = 256
  # 5 seconds blocking is enough to trigger a warning yes
  # but we believe we can do 1 decently
  osd op complaint time = 1

  ms bind ipv6 = true

  # Go completely blind in a desperate bid to gain performance
  debug ms = 0/0
  debug auth = 0/0

  {#- This is ceph-deploy's idea, but I can't think of a reason to do it #}
  {#- mon_initial_members = {{ mons.keys()|join(', ') }} #}
  {#- It'd be nice to be able to config a round-robin DNS here #}
  mon_host = {{ mon_host or mon.values()|join(', ') }}
