{%- macro ceph_conf(section, source=None, context={}, cluster='ceph', config=None) -%}
{%-   if config is sameas None %}
{%-     set config = '/etc/ceph/' ~ cluster ~ '.conf' %}
{%-   endif %}
{%-   if source is sameas None %}
{%-     set source = 'salt://' ~ slspath ~ '/' ~ section ~ '.jinja' %}
{%-   endif %}
{%-   if cluster == 'ceph' %}
ceph-conf-{{ section }}:
{%-   else %}
ceph-{{ cluster }}-conf-{{ section }}:
{%-   endif %}
  file.blockreplace:
    - show_changes: True
    - name: {{ config }}
    - source: {{ source }}
    - marker_start: '######## BEGIN SaltStack [{{ section }}] block ########'
    - marker_end: '######## END SaltStack [{{ section }}] block ########'
    - append_if_not_found: True
    - context: {{ context }}
    - defaults:
        cluster: {{ cluster }}
        conf: {{ salt['pillar.get']('ceph:conf:' ~ section, {}) }}
        fsid: {{ salt['pillar.get']('ceph:fsid', False) }}
        mon_host: {{ salt['pillar.get']('ceph:mon_host', False) }}
        mon: {{ salt['pillar.get']('ceph:mon', {}) }}
        release: {{ salt['pillar.get']('ceph:release', 'master') }}
{%- endmacro -%}


{%- macro ceph_keyring(auth_id, key, cluster='ceph', keyring=None, user='root') -%}
{%-   if '.' not in auth_id %}
{%-     set auth_id = 'client.' ~ auth_id %}
{%-   endif %}
{%-   if keyring is sameas None %}
{%-     set keyring = '/etc/ceph/' ~ cluster ~ '.' ~ auth_id ~ '.keyring' %}
{%-   endif %}
{%-   if cluster == 'ceph' %}
ceph-keyring-{{ auth_id }}:
{%-   else %}
ceph-{{ cluster }}-keyring-{{ auth_id }}:
{%-   endif %}
  file.managed:
    - name: {{ keyring }}
    - contents: |
        [{{ auth_id }}]
          key = {{ key }}
    - mode: 600
    - user: {{ user }}
{%- endmacro -%}
