{%- from 'shared.jinja' import root, uri %}
{%- from 'map.jinja' import paths, golang_arch %}
{%- from 'lib.jinja' import globals %}
{%- set version = salt['pillar.get']('kube:version', '1.13.3') %}

{%- if tpldot is defined %}
{%-   set kube_comp = tpldot.split('.') %}
{%-   if kube_comp|length > 1 %}
{%-     set kube_comp = kube_comp[1] %}
{%-   else %}
{%-     set kube_comp = 'client' %}
{%-   endif %}
{%- elif pillar.get('sls', '').startswith('kube.') %}
{# cnt:kube-ams1-controller-manager #}
{%-   set kube_comp = pillar.sls.split('.')[1] %}
{%- elif 'kube' in name %}
{%-   set kube_comp = salt.file.basename(name).rsplit('.', 1)[0]|replace('kube-', '') %}
{%- endif %}
{%- set kube_stid = 'kube-' ~ kube_comp %}

{%- if kube_comp in ('let', 'ctl', 'adm') %}
{%-   set ip_sans = globals.ip_sans %}
{%-   set kube_bin = 'kube' ~ kube_comp %}
{%-   set kube_base = kube_bin %}
{%- else %}                                       {#- TODO: ClusterIP :( boooo #}
{%-   set ip_sans = globals.ip_sans %}
{%-   do ip_sans.append('127.0.0.1') %}
{%-   if kube_comp.startswith(('api', 'contr', 'sched')) %}
{%-     do ip_sans.append('10.0.0.1') %}
{%-   endif %}
{%-   if kube_comp.startswith('federat') %}
{%-     set kube_bin = kube_comp %}
{%-   else %}
{%-     set kube_bin = 'kube-' ~ kube_comp %}
{%-   endif %}
{%-   set kube_base = kube_comp %}
{%- endif %}

{%- set options = salt.slsutil.merge(
        salt['pillar.get']('kube:options', {}),
        salt['pillar.get']('kube:' ~ kube_comp ~ ':options', {})
) %}

{%- set config = salt.slsutil.merge(
        salt['pillar.get']('kube:config', {}),
        salt['pillar.get']('kube:' ~ kube_comp ~ ':config', {})
) %}

{%- set dir_etc = '/etc/kubernetes' %}
{%- set dir_cert = globals.cert_dir|path_join(kube_bin) %}
{%- set dir_private = globals.private_dir|path_join(kube_bin) %}

{%- macro bin_url() -%}
https://storage.googleapis.com/kubernetes-release/release/v{{version}}/bin/linux/{{golang_arch}}/{{kube_bin}}
{%- endmacro -%}

{%- macro kube_img() -%}
gcr.io/google-containers/kube-{{ kube_comp }}:v{{ pillar.kube.version }}
{%- endmacro -%}

{%- macro kube_server() -%}
{{ salt['pillar.get']('kube:master', '') }}
{%- endmacro -%}

{%- macro kube_install(user='root', group='kube') %}
{%- if kube_bin in ('kubelet', 'kube-proxy') %}
{%-   set install_path = 'sbin' %}
{%- else %}
{%-   set install_path = 'bin' %}
{%- endif %}
{{ kube_stid }}-install:
  file.managed:
  - user: {{ user }}
  - group: {{ group }}
  - mode: 755
  - name: /usr/local/{{ install_path }}/{{ kube_bin }}
  {#- skip_verify: True#}
  - source: {{ bin_url() }}
  - source_hash: {{ bin_url() }}.sha512
{%- endmacro %}


{%- macro kube_connection(
      name=None, cn=None, schedule=True, triggers=None, schedule_triggers=None, service=None,
      ca='kube-system', ca_function='kube-system', ca_role='kube',
      ca_file=None, cert_file=None, chain_file=None, key_file=None,
      user='kube', group='kube', server=None, kube_file=None, embed=False
      ) %}
{%- load_yaml as conn_opts %}
cn: {{ cn or salt['pillar.get']('kube:' ~ kube_comp ~ ':user', 'system:kube-' ~ kube_comp) }}
ca_file: {{ ca_file or root|path_join(globals.cert_dir, ca_function ~ '-ca.pem') }}
cert_file: {{ cert_file or root|path_join(dir_cert, ca_function ~ '.pem') }}
key_file: {{ key_file or root|path_join(dir_private, ca_function ~ '-key.pem') }}
chain_file: {{ chain_file or root|path_join(dir_cert, ca_function ~ '-chain.pem') }}
kube_file: {{ kube_file or root|path_join(dir_etc, (name or kube_base ~ '.kubeconfig')) }}
{%- endload %}
{%- if service and not schedule_triggers %}
{%-   set schedule_triggers = {'service.reload': service} %}
{%- endif %}
{%- if ca == 'kube-system' %}
{{  salt.tmpltools.pki(
      name=conn_opts.cn,
      ca=ca,
      alt_names=pillar.dns.fqdn,
      ip_sans=ip_sans,
      user=user,
      role=ca_role,
      schedule=schedule,
      triggers=triggers,
      schedule_triggers=schedule_triggers,
      files={
        conn_opts.ca_file: 'ca',
        conn_opts.cert_file: 'pub',
        conn_opts.chain_file: ['pub', 'ca'],
        conn_opts.key_file: 'key'
    })
}}
{%- else %}
{{  salt.tmpltools.pki(
      ca='kube-system',
      schedule=schedule,
      files={
        conn_opts.ca_file: 'ca',
    })
}}

{{  salt.tmpltools.pki(
      name=conn_opts.cn,
      ca=ca,
      alt_names=None,
      ip_sans=None,
      user=user,
      role=ca_role,
      schedule=schedule,
      triggers=triggers,
      schedule_triggers=schedule_triggers,
      files={
        conn_opts.cert_file: 'pub',
        conn_opts.chain_file: ['pub', 'ca'],
        conn_opts.key_file: 'key'
    })
}}
{%- endif %}
{%- if service %}
  - watch_in:
      service: {{ service }}
{%- endif %}


{{ kube_stid }}-kubeconfig:
  file.managed:
  - name: {{ conn_opts.kube_file }}
  - mode: 640
  - user: root
  - group: {{ group }}
  - source: salt://kube/tpl/kubeconfig.yml
  - makedirs: True
  - template: jinja
  - context:
      cert: {{ conn_opts.cert_file }}
      key: {{ conn_opts.key_file }}
      ca: {{ conn_opts.ca_file }}
      cluster: {{ pillar.kube.cluster }}
      server: {{ server or kube_server() }}
      user: {{ conn_opts.cn }}
      embed: {{ embed }}
{%- if service %}
  - watch_in:
    service: {{ service }}
{%- endif %}
{%- endmacro %}
