{%- from 'shared.jinja' import salt_header -%}
{%- from 'etcd/server/flags.j2' import flags -%}
{{ salt_header() }}
{%- for k in flags.keys()|sort %}
ETCD_{{ k|upper|replace('-','_') }}={{ flags[k] }}
{%- endfor %}
