{%- from 'shared.jinja' import root, uri -%}
{%- from 'lib.jinja' import globals -%}
{%- from 'etcd/lib.jinja' import etcd_url -%}
{%- set etcd = pillar.etcd %}
{%- set zone = globals.zone %}
{%- set etc_dir = root|path_join('etc', 'etcd') %}
{%- set cert_dir = root|path_join(globals.cert_dir, 'etcd') %}
{%- set private_dir = root|path_join(globals.private_dir, 'etcd') %}
{%- set cert_files = ('cert-file', 'key-file', 'trusted-ca-file', 'peer-cert-file', 'peer-key-file', 'peer-trusted-ca-file') %}
{%- set host_ip = globals.ip4 %}
{%- set listen_ip = globals.ip4 %}
{%- set hostname = pillar.etcd.name %}
{#---------------- SETTINGS & BOOTSTRAP ----------------
  Certs come from Vault through Salt

  https://coreos.com/etcd/docs/latest/op-guide/configuration.html
  https://coreos.com/etcd/docs/latest/op-guide/security.html
  https://github.com/coreos/etcd/blob/master/Documentation/op-guide/security.md
  https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/07-bootstrapping-etcd.md#configure-the-etcd-server
-#}
{%- load_yaml as mf_options %}
# Member flags
name: {{ hostname }}
data-dir: /var/etcd/data
listen-peer-urls: {{ uri(listen_ip, etcd.peer.port) }}
listen-client-urls: {{ uri(listen_ip, etcd.client.port) }}
#{{ uri('localhost', etcd.client.port, proto='http') }},
# Clustering flags
initial-advertise-peer-urls: {{ uri(host_ip, etcd.peer.port) }}
initial-cluster: {{ etcd_url(etcd.peer.port) }}
initial-cluster-state: {{ etcd.get('state', 'existing') }}
initial-cluster-token: {{ etcd.token }}
advertise-client-urls: {{ uri(host_ip, etcd.client.port) }}
strict-reconfig-check: true
enable-v2: false

# Security flags
cert-file: {{ cert_dir|path_join('etcd-client.pem') }}
key-file: {{ private_dir|path_join('etcd-client-key.pem') }}
trusted-ca-file: {{ root|path_join(globals.cert_dir, 'etcd-client-ca.pem') }}
client-cert-auth: true
peer-cert-file: {{ cert_dir|path_join('etcd-peer.pem') }}
peer-key-file: {{ private_dir|path_join('etcd-peer-key.pem') }}
peer-trusted-ca-file: {{ root|path_join(globals.cert_dir, 'etcd-peer-ca.pem') }}
#peer-client-cert-auth: true
{%- endload %}
{%- set flags = salt.slsutil.merge(mf_options, etcd.get('options', {})) %}
