{%- from 'shared.jinja' import salt_header -%}
{{ salt_header(msgs='Use the default PCextreme Ubuntu mirror') }}
{%- for source, data in sources.items() %}
deb {{ source }}/{{ grains.os|lower }}/ {{ grains.oscodename }} {{ data.sections|join(' ') }}
{%-   if data.get('updates', False) %}
deb {{ source }}/{{ grains.os|lower }}/ {{ grains.oscodename }}-updates {{ data.sections|join(' ') }}
{%-   endif %}
{%- endfor %}
