{%- from 'shared.jinja' import salt_header -%}
{{ salt_header() }}
PRUNE_BIND_MOUNTS = "yes"
PRUNEFS = "9p afs anon_inodefs auto autofs bdev binfmt_misc ceph cgroup cifs coda configfs cpuset curlftpfs debugfs devfs devpts devtmpfs ecryptfs exofs ftpfs fuse fuse.ceph fusectl fuse.glusterfs fusesmb fuse.sshfs gfs gfs2 gpfs hugetlbfs inotifyfs iso9660 jffs2 lustre lustre_lite mfs mqueue ncpfs nfs NFS nfs4 nfsd pipefs proc ramfs rootfs rpc_pipefs securityfs selinuxfs sfs shfs smbfs sockfs sysfs tmpfs ubifs udf usbfs"
PRUNENAMES = ".git .hg .svn .bzr .arch-ids {arch} CVS"
PRUNEPATHS = "/afs /home/.ecryptfs /media /mnt /net /sfs /tmp /udev /var/cache /var/cache/ccache /var/lib/ceph /var/lib/dnf/yumdb /var/lib/schroot /var/lib/yum/yumdb /var/spool /var/spool/cups /var/spool/squid /var/tmp"
