#!/bin/sh
{%- from 'docker/engine/map.jinja' import docker with context %}
#
# DHCPv6 hook for Docker
#
# This hook will pass Prefix Delegations on to Docker
# dhclient will run this hook after it obtains the lease
#
# Make sure you can dhclient in a way that it requests a prefix, eg:
# dhclient -6 -P -d eth0
#
# With the new prefix we can reconfigure Docker and restart it
#
# Make sure /etc/default/docker contains:
#
# DOCKER_OPTS="--ipv6 --fixed-cidr-v6=your-delegated-prefix"
#

[ -n "$new_ip6_prefix" ] || return

DOCKER_PREFIX_FILE={{ docker.prefix_file }}

# Include env file for SUBNET_SIZE
[ -f {{ docker.env_file }} ] && . {{ docker.env_file }}

if [ -n "$SUBNET_SIZE" ]; then
    # NOT AVAILABLE ON CENTOS 7???
    [ -x "$(which sipcal)" ] || { echo "Need sipcalc to be able to split subnets!"; exit 1; }
    subnet=$(sipcalc -6 -S $SUBNET_SIZE $new_ip6_prefix | grep Network| head -n 1 | awk '{ print $3 }')
    echo "DELEGATED_PREFIX=\"--fixed-cidr-v6=$subnet/$SUBNET_SIZE\"" > $DOCKER_PREFIX_FILE
else
    echo "DELEGATED_PREFIX=\"--fixed-cidr-v6=$new_ip6_prefix\"" > $DOCKER_PREFIX_FILE
fi

[ "$old_ip6_prefix" = "$new_ip6_prefix" ] || service docker restart
