{%- from 'shared.jinja' import root, uri %}
{%- from 'lib.jinja' import globals with context -%}
{%- from 'kube/lib.jinja' import dir_etc, kube_comp, options, config with context -%}
{%- set kube_config = root|path_join(dir_etc, kube_comp ~ '.kubeconfig') %}

{#---------------- SETTINGS ----------------
  https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/
  https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/09-bootstrapping-kubernetes-workers.md
-#}
{%- set bind_addr = '0.0.0.0' %}

{%- load_yaml as mf_config %}
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
bindAddress: '{{ bind_addr }}'
healthzBindAddress: 127.0.0.1
clusterCIDR: {{ options.pop('cluster-cidr') }}
clientConnection:
  kubeconfig: {{ kube_config }}
{%-   if salt.pillar.get('kube:feature-gates', False) %}
featureGates: {{ salt.pillar.get('kube:feature-gates') }}
{%-   endif %}
{%- endload %}
{%- set config = salt.slsutil.merge(config, mf_config) %}

{%- set options = {'config': root|path_join(dir_etc, kube_comp ~ '-config.yml')} %}
