[osd]
  osd crush update on start = false

  osd mount options xfs = rw,noatime,inode64,allocsize=4m
  osd mkfs type = xfs

  # Speed up writes a bit. Let's the journal fill up a bit more before flushing
  filestore max sync interval = 5

  # TODO: Wido dH called this but of course failed to codify or explain
  # filestore_wbthrottle_enable = true

  # Send a report at least every 60 seconds to the monitors
  osd mon report interval max = 60

  ### RECOVERY & HEALTH IO SETTINGS
  # NOTE: Make sure the SSD OSD devices use the NOOP disk scheduler
  # Change the GRUB config: GRUB_CMDLINE_LINUX_DEFAULT="quiet elevator=noop"
  # After a reboot the whole machine will be using the noop scheduler
  #
  # ANOTHER NOTE: Perhaps that's not so wise. At lease the new ioprio
  # class/priority settings demand CFQ usage.
  #
  # There's a chance that the op priority settings are impacted as well.
  # Currently, our SSD boxes are on noop, our SATA's on deadline. Investigate
  # improvement.
  # See /etc/udev/rules.d/65-scheduler.rules
  #
  # Per 0.67.11:
  osd disk thread ioprio class = idle #idle
  osd disk thread ioprio priority = 3 #0-7 within idle class

  # Try to tame lame recovery heavy duty impacted oh nowz i want IOs
  osd max backfills = 2
  osd backfill scan min = 16
  osd backfill scan max = 128

  osd recovery delay start = 30
  osd recovery op priority = 5
  #osd recovery max active = 3
  osd recovery max active = 2
  # Since Jewel (10.2.X)
  osd recovery sleep = 1

  osd client op priority = 63

  # Less scrubbing, more IOs pour moi & my vms
  # https://github.com/ceph/ceph/blob/{{ release }}/src/common/config_opts.h
  # https://github.com/ceph/ceph/blob/{{ release }}/src/osd/PG.cc
  osd max scrubs = 1
  osd scrub sleep = 1
  osd scrub chunk min = 2
  osd scrub chunk max = 16
  # Since Kraken (11.1.X)
  osd scrub during recovery = false

  # Allow a scrub to execute when load is < 4.0 Normal for most Ceph systems
  osd scrub load threshold = 4.0
  osd scrub min interval = 172800  # 60*60*24*2 (2 days)
  osd scrub max interval = 604800  # 60*60*24*7 (7 days)
  osd deep scrub interval = 2629800  # 60*60*24*(365.25/12) (12 times a year)
  osd deep scrub stride = 1048576

  # Turn of logging as much as possible to gain performance
  debug osd = 0/0
  debug filestore = 0/0
  debug rbd = 0/0
  debug rados = 0/0
  debug journal = 0/0
  debug journaler = 0/0
