{##

net:
#  proxy:                   # url of proxy for the entire system
  tmpl: tmpl name           # Name of template to render interfaces
  intf: intf                # Default interface
  mtu: 9000                 # Default mtu
  bond:
    mode: 802.3ad           # bond-modes
    slaves:
      - eth0
      - a1:b2:c3:e4
  nets:
    mgmt:
      intf: ?
      vlan: 100
      mtu: 1500
      ip4:
        dhcp: True
        net: 31.25.102.192/26
        gw: 31.25.102.193
        route:
          - 10.0.0.0/8
        addr:
          - 1.2.3.4
      ip6:
        slaac: True
        dhcpv6: False
        pd: True
        net: 2a00:f10:10a:10::/64
        addr:
          - ::2

#}


{%- macro interface(intf, net, defaults) %}
{%- set ip4 = salt.slsutil.merge(net.get('ip4', {}), defaults.get('ip4', {})) %}
{%- if ip4.dhcp %}
{%-   do ip4['method'] = 'auto' %}
{%- elif ip4.get('net', False) or ip4.get('addr', False) %}
{%-   do ip4['method'] = 'static' %}
{%- else %}
{%-   do ip4['method'] = 'manual' %}
{%- endif %}

{%- set ip6 = salt.slsutil.merge(net.get('ip6', {}), defaults.get('ip6', {})) %}

auto {{ intf.name }}
iface {{ intf.name }} inet {{ ip4.method }}
{%- if <something> %}
    hwaddress {{ intf.get('mac', defaults.mac) }}
{%- endif %}
{%- if intf.mtu %}
    mtu {{ intf.mtu }}
{%- endif %}
{%- if ip4.method == 'static' %}
{%-   set cidr = salt.nettools.split(ip4.net) %}
    address {{ ip4.addr }}
    netmask {{ cidr[2] }}
{%-   if net.default %}
    gateway {{ ip4.gw }}
    dns-search {{ salt['pillar.get']('dns:search', [grains.domain])|join(' ') }}
    dns-nameservers {{ pillar.dns.servers.ip4_nameservers|join(' ') }}
{%-   endif %}
{%- endif %}
{%- for route in ip4.get('route', []) %}
    up ip route add {{ route }} via {{ ip4.gw }} dev {{ intf.name }}
    down ip route del {{ route }} via {{ ip4.gw }} dev {{ intf.name }}
{%- endfor %}
{%- if not ip6 %}
    up sysctl -w net.ipv6.conf.{{ intf.name|replace('.', '/') }}.disable_ipv6=1
{%- elif ip6.method == 'auto' and not net.default %}
    up sysctl -w net.ipv6.conf.{{ intf.name|replace('.', '/') }}.accept_ra_defrtr=0
{%- endif %}

{%- if ip6 %}
{%-   if ip6.get('slaac', False) %}
{%-     do ip6['method'] = 'auto' %}
{%-   elif ip6.get('net', False) or ip6.get('addr', False) %}
{%-     do ip6['method'] = 'static' %}
{%-   else %}
{%-     do ip6['method'] = 'manual' %}
{%-   endif %}
iface {{ data.name }} inet6 {{ ip6.method }}
{%-   if ip6.method == 'static' %}
{%-     set cidr = salt.nettools.split(ip6.net) %}
    address {{ ip6.addr }}
    netmask {{ cidr[2] }}
{%-     if net.default %}
    gateway {{ ip6.gw }}
    dns-search {{ salt['pillar.get']('dns:search', [grains.domain])|join(' ') }}
    dns-nameservers {{ pillar.dns.servers.ip6_nameservers|join(' ') }}
{%-     endif %}
{%-   elif ip6.method == 'auto' and ip6.addr %}
    up ip addr add {{ ip6.addr }} dev {{ intf.name }}
{%-   endif %}
{%-   for route in ip6.get('route', []) %}
    up ip route add {{ route }} via {{ ip6.gw }} dev {{ intf.name }}
    down ip route del {{ route }} via {{ ip6.gw }} dev {{ intf.name }}
{%-   endfor %}
{%- endif %}


{%- endmacro %}



{%- if bond %}
################ BONDING ################
auto {{ bond.slaves|join(' ') }} bond0
{%-   for slave in bond.slaves  %}
iface {{ slave }} inet manual
    bond-master bond0
    offload-lro off
{%-  endfor %}
{%- endif %}


