{%- set glrun_map = salt.grains.filter_by({
  'Debian': {
    'repo': 'https://packages.gitlab.com/runner/gitlab-runner/' ~ grains.os|lower ~ '/',
    'script': 'script.deb.sh',
  },
  'RedHat': {
    'repo': 'runner_gitlab-runner',
    'script': 'script.rpm.sh',
  },
}) %}
