{%- from 'shared.jinja' import root, uri %}
{%- from 'lib.jinja' import globals with context -%}
{%- from 'kube/lib.jinja' import dir_etc, kube_comp, options with context -%}
{%- set kube_config = root|path_join(dir_etc, kube_comp ~ '.kubeconfig') %}

{#---------------- SETTINGS ----------------
  https://kubernetes.io/docs/admin/kube-controller-manager/
  https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/08-bootstrapping-kubernetes-controllers.md#configure-the-kubernetes-api-server
-#}
{%- set master_addr = '127.0.0.1' %}
{%- set bind_addr = '0.0.0.0' %}
{%- set feature_gates = salt['pillar.get']('kube:feature-gates', {}).items()|map('join', '=')|sort|join(',') %}
{%- load_yaml as mf_options %}
feature-gates: {{ feature_gates }}
{#- deprecated & insecure open to all by default #}
address: 127.0.0.1
bind-address: {{ bind_addr }}
{#cidr-allocator-type: RangeAllocator  # Type of CIDR allocator to use (default "RangeAllocator")#}

# cluster-signing-cert-file: /var/lib/kubernetes/ca.pem  # Filename containing a PEM-encoded X509 CA certificate used to issue cluster-scoped certificates (default "/etc/kubernetes/ca/ca.pem")
# cluster-signing-key-file: /var/lib/kubernetes/ca-key.pem  # Filename containing a PEM-encoded RSA or ECDSA private key used to sign cluster-scoped certificates (default "/etc/kubernetes/ca/ca.key")

kubeconfig: {{ kube_config }}
authorization-kubeconfig: {{ kube_config }}
authentication-kubeconfig: {{ kube_config }}

leader-elect: true
{#master: {{ uri(master_addr, 6443) }}#}
root-ca-file: {{ globals.cert_dir|path_join('kube-system-ca.pem') }}
service-account-private-key-file: {{ globals.private_dir|path_join('kube-service-account.key') }}  # Filename containing a PEM-encoded private RSA or ECDSA key used to sign service account tokens.
terminated-pod-gc-threshold: 16  # Number of terminated pods that can exist before the terminated pod garbage collector starts deleting terminated pods. If <= 0, the terminated pod garbage collector is disabled. (default 12500)
use-service-account-credentials: true
secure-port: 10257
{%- endload %}
{%- set options = salt.slsutil.merge(options, mf_options) %}
