#!/bin/sh
{%- from 'shared.jinja' import salt_header -%}
{{ salt_header(msgs='Copied from Ubuntu 14.04') }}
set -e
#set -x

{%- from "platform/hw/console/serial.jinja" import conport with context %}
CONPORT=ttyS{{ conport }}

if [ -f /usr/lib/grub/grub-mkconfig_lib ]; then
  . /usr/lib/grub/grub-mkconfig_lib
  LX=linux16
elif [ -f /usr/lib/grub/update-grub_lib ]; then
  . /usr/lib/grub/update-grub_lib
  LX=linux
else
  # no grub file, so we notify and exit gracefully
  echo "Cannot find grub config file, exiting." >&2
  exit 0
fi

# We can't cope with loop-mounted devices here.
case ${GRUB_DEVICE_BOOT} in
  /dev/loop/*|/dev/loop[0-9]) exit 0 ;;
esac

#export TEXTDOMAIN=memtest86+

prepare_boot_cache="$(prepare_grub_to_access_device ${GRUB_DEVICE_BOOT} | sed -e "s/^/\t/")"

# We need 16-bit boot, which isn't available on EFI.
if [ -d /sys/firmware/efi ]; then
  exit 0
fi

### MEMTEST86
### http://www.memtest86.com/
### TODO: FIX EFI
MEMTESTBIN=$( find /boot/memtest86/ -type f -name memtest* )

if [ -n "$MEMTESTBIN" ]; then
  MEMTESTPATH=$( make_system_path_relative_to_its_root "$MEMTESTBIN" )
  echo "Found Memtest86 image: $MEMTESTPATH" >&2

  cat << EOF
menuentry '$(gettext_printf "MemTest86")' {
EOF
  printf '%s\n' "${prepare_boot_cache}"
  cat << EOF
        $LX     $MEMTESTPATH
}
EOF
  cat << EOF
menuentry '$(gettext_printf "MemTest86, serial console")' {
EOF
  printf '%s\n' "${prepare_boot_cache}"
  cat << EOF
        $LX     $MEMTESTPATH console=$CONPORT,115200
}
EOF
fi

### MEMTEST86+
### http://www.memtest.org/
# We need 16-bit boot, which isn't available on EFI.
if [ -d /sys/firmware/efi ]; then
  exit 0
fi

MEMTESTBIN=$( find /boot/memtest86+/ -type f -name memtest*bin )

if [ -n "$MEMTESTBIN" ]; then
  MEMTESTPATH=$( make_system_path_relative_to_its_root "$MEMTESTBIN" )
  echo "Found memtest86+ image: $MEMTESTPATH" >&2

  cat << EOF
menuentry '$(gettext_printf "MemTest86+")' {
EOF
  printf '%s\n' "${prepare_boot_cache}"
  cat << EOF
        $LX     $MEMTESTPATH
}
EOF
  cat << EOF
menuentry '$(gettext_printf "MemTest86+, serial console")' {
EOF
  printf '%s\n' "${prepare_boot_cache}"
  cat << EOF
        $LX     $MEMTESTPATH console=$CONPORT,115200
}
EOF
fi

