{% set openssh = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'openssh-server',
        'svc': 'ssh',
        'sftpserver': '/usr/lib/openssh/sftp-server',
    },
    'RedHat': {
        'pkg': 'openssh-server',
        'svc': 'sshd',
        'sftpserver': '/usr/libexec/openssh/sftp-server',
    },
    'FreeBSD': {
        'svc': 'sshd',
        'sftpserver': '/usr/libexec/sftp-server',
    },
}) %}

{# set openssh['version'] =  salt['grains']['ssh_version'][0].salt['grains']['ssh_version'][1] #}

