{%- from 'shared.jinja' import salt_header -%}
{{ salt_header() }}
{##-
  Working with the version is nice, but we'd actually be better of using ssh -Q
  Then again, older version don't have that either
#}
{%- set major = grains.ssh.version[0] -%}
{%- set minor = grains.ssh.version[1] -%}
# OpenSSH version: {{ major }}.{{ minor }}

#       $OpenBSD: sshd_config,v 1.94 2015/02/02 01:57:44 deraadt Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

#Port 22
#AddressFamily any
#AddressFamily inet6
{#- should be nice, do better #}
ListenAddress 0.0.0.0
ListenAddress ::
{##ListenAddress {{ grains.fqdn_ip6|sort }}#}

# HostKeys
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key

{%- if harden %}
{#-   Lowest common denominator #}
{%-   set hardened = {
        'keys': [],
        'ciphers': [
            'aes256-ctr',
            'aes192-ctr',
            'aes128-ctr',
        ],
        'kexes': ['diffie-hellman-group-exchange-sha256'],
        'macs': [
            'hmac-sha2-512',
            'hmac-sha2-256',
        ]} %}
{#-   6.2+ added a number of things that are still safe #}
{%-   if major == 6 and minor >= 2 %}
{%-     do hardened['ciphers'].extend(['aes256-gcm@openssh.com','aes128-gcm@openssh.com']) %}
{%-     do hardened['macs'].extend([
          'hmac-sha2-512-etm@openssh.com',
          'hmac-sha2-256-etm@openssh.com',
          'umac-128-etm@openssh.com',
          'umac-128@openssh.com']) %}
{%-   endif %}
{#-   6.5+ added a number of things that are still safe #}
{%-   if major > 6 or (major == 6 and minor >= 5) %}
{%-     do hardened['keys'].append('ed25519') %}
{%-     do hardened['ciphers'].append('chacha20-poly1305@openssh.com') %}
{%-     do hardened['kexes'].append('curve25519-sha256@libssh.org') %}
{%-   endif %}
{##- ADD COMPATIBILITY FIXES HERE
    We (re)activate the following when we need better interoperibility with legacy stuff
#}
{%-   if harden == 'compat' %}
{%-     do hardened['kexes'].extend(['diffie-hellman-group-exchange-sha1']) %}
# Hardening with compatibility stuff enabled (see README in SaltStack state):
#   * libssh2 on CentOS7 supports max Kex diffie-hellman-group-exchange-sha1
{%-   else %}
# Hardening (see README in SaltStack state)
{%-   endif %}
{%-   for key in hardened['keys'] %}
HostKey /etc/ssh/ssh_host_{{ key }}_key
{%-   endfor %}
Ciphers {{ ','.join(hardened.ciphers) }}
KexAlgorithms {{ ','.join(hardened.kexes) }}
MACs {{ ','.join(hardened.macs) }}
{%- endif %}

# Lifetime and size of ephemeral version 1 server key
#KeyRegenerationInterval 1h
#ServerKeyBits 1024

# Ciphers and keying
#RekeyLimit default none

# Logging
# obsoletes QuietMode and FascistLogging
#SyslogFacility AUTH
{##- TODO: Only on Fedora? Or is that SystemD? #}
SyslogFacility AUTHPRIV
#LogLevel INFO

# Authentication:

#LoginGraceTime 2m
#PermitRootLogin yes
PermitRootLogin without-password
#StrictModes yes
#MaxAuthTries 6
#MaxSessions 10

#RSAAuthentication yes
#PubkeyAuthentication yes

# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
#AuthorizedKeysFile      .ssh/authorized_keys

#AuthorizedPrincipalsFile none

#AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
#RhostsRSAAuthentication no
# similar for protocol version 2
#HostbasedAuthentication no
# Change to yes if you don't trust ~/.ssh/known_hosts for
# RhostsRSAAuthentication and HostbasedAuthentication
#IgnoreUserKnownHosts no
# Don't read the user's ~/.rhosts and ~/.shosts files
#IgnoreRhosts yes

{## O NO U DONT
{%- if salt['pillar.get']('openssh:server:pwauth', False) %}
# To disable tunneled clear text passwords (AND YOU REALLY REALLY SHOULD), change to no here!
PasswordAuthentication yes
{%- else %}
PasswordAuthentication no
{%- endif %}
#}
PasswordAuthentication no

#PermitEmptyPasswords no

# Change to no to disable s/key passwords
#ChallengeResponseAuthentication yes

#AllowAgentForwarding yes
AllowAgentForwarding yes
#AllowTcpForwarding yes
#GatewayPorts no
#X11Forwarding no
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
#PrintMotd yes
#PrintLastLog yes
#TCPKeepAlive yes
#UseLogin no

{%- if major < 8 and (major == 7 and minor < 5) %}
{%-   if major > 5 or (major == 5 and minor >= 9) %}
UsePrivilegeSeparation sandbox      # Default for new installations.
{%-   else %}
UsePrivilegeSeparation yes          # Plz do!
{%-   endif %}
{%- endif %}

#PermitUserEnvironment no
# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

#Compression delayed
#ClientAliveInterval 0
#ClientAliveCountMax 3
#UseDNS no
#PidFile /var/run/sshd.pid
#MaxStartups 10:30:100
#PermitTunnel no
#ChrootDirectory none
#VersionAddendum none

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
# WARNING: 'UsePAM no' is not supported in Fedora and may cause several
# problems.
#UsePAM no
UsePAM yes

# no default banner path
#Banner none

# override default of no subsystems
{#- why was this necessary again???  #}
Subsystem     sftp    {{ sftpserver }}

# Example of overriding settings on a per-user basis
#Match User anoncvs
#       X11Forwarding no
#       AllowTcpForwarding no
#       PermitTTY no
#       ForceCommand cvs server
