{%- from 'lib.jinja' import globals with context %}
{%- from 'kube/lib.jinja' import kube_comp, kube_base, kube_stid, kube_install, kube_bin, bin_url, dir_cert, dir_private with context %}
{%- from 'kube/' ~ kube_comp ~ '/flags.j2' import options with context %}
include:
- kube.daemon
- kube.{{ kube_comp }}

{{ kube_install() }}

{{ kube_stid }}-service-definition:
  file.managed:
  - name: /etc/systemd/system/{{ kube_bin }}.service
  - source: salt://kube/tpl/systemd_unit.ini
  - template: jinja
  - context:
      description: {{ description }}
      base: {{ kube_base }}
      bin: {{ kube_bin }}

  cmd.run:
  - name: systemctl daemon-reload
  - onchanges:
    - file: {{ kube_stid }}-service-definition
  - require_in:
    - service: {{ kube_stid }}-service

{{ kube_stid }}-certs:
  file.directory:
  - name: {{ dir_cert }}
  - mode: 755
  - user: root
  - group: kube
  - require_in:
    - sls: kube.{{ kube_comp }}

{{ kube_stid }}-private:
  file.directory:
  - name: {{ dir_private }}
  - mode: 750
  - user: root
  - group: kube
  - require_in:
    - sls: kube.{{ kube_comp }}
