{%- from 'shared.jinja' import root %}
{%- from 'map.jinja' import paths %}
{%- from 'lib.jinja' import globals with context %}
{%- from 'kube/lib.jinja' import kube_comp, kube_bin, kube_base, dir_etc, dir_cert, kube_stid with context %}

{%- if root == '/'%}
{%-   from 'shared.jinja' import to_env_args %}
{%-   from 'kube/' ~ kube_comp ~ '/flags.j2' import options with context %}

{{ kube_stid }}-env:
  file.managed:
  - name: /etc/kubernetes/{{ kube_base }}
  - contents: |
      GOMAXPROCS={{ grains.num_cpus }}
      KUBE_ARGS="\{{ to_env_args(options, indent=6, sort=True)}}
      "
  - mode: 640
  - user: root
  - group: kube

{{ kube_stid }}-service:
  service.running:
  - name: {{ kube_bin }}
  - enable: True
  - watch:
    - file: {{ kube_stid }}-env
{%- endif %}
