{%- from 'shared.jinja' import to_args, root -%}
{%- from 'lib.jinja' import globals -%}
{%- from 'kube/lib.jinja' import dir_etc, kube_img, kube_comp, kube_bin, options with context -%}
{%- from 'kube/' ~ kube_comp ~ '/flags.j2' import options with context -%}
{%- set hostname = globals.host -%}
apiVersion: v1
kind: Pod
metadata:
  name: {{ kube_bin }}
  namespace: kube-system
  labels:
    service: kubernetes
    component: apiserver
spec:
  hostname: {{ hostname }}
  restartPolicy: Always
  #hostNetwork: True
  priorityClassName: system-cluster-critical
  containers:
  - name: kube-{{ kube_comp }}
    image: {{ kube_img() }}
    imagePullPolicy: Always
    command: [ {{ kube_bin }} ]
    args: {{ to_args(options, sort=True) }}
    securityContext:
      readOnlyRootFilesystem: True
    livenessProbe:
      httpGet:
        path: /healthz
        port: 8080
        host: 127.0.0.1
      initialDelaySeconds: 60
      timeoutSeconds: 15
    ports:
{%- for port in ports %}
    - containerPort: {{ port }}
      hostPort: {{ port }}
{%- endfor %}
    volumeMounts:
{%- for vol in volumes %}
    - name: {{ (vol[0]|replace('/','-'))[1:].split('.')[0] }}
      mountPath: {{ vol[0] }}
{%-   if vol[1] != 'rw' %}
      readOnly: True
{%-   endif %}
{%- endfor %}
  volumes:
{%- for vol in volumes %}
  - name: {{ (vol[0]|replace('/','-'))[1:].split('.')[0] }}
    hostPath:
      path: {{ root|path_join(vol[0]) }}
      type: {{ vol[2] }}
{%- endfor %}
