{% if grains.virtual != 'physical' %}
{%   set conport = 0 %}
{% else %}
{%   set conport = salt.grains.filter_by({
       'default' : 1,
       'X8STi'   : 2,
       'X10SL7-F': 2,
       'X9SCL/X9SCM': 2,
     }, grain='productname') %}
{% endif %}
