{%- from 'platform/hw/console/serial.jinja' import conport with context -%}
{%- from 'shared.jinja' import salt_header -%}
{{ salt_header(msgs='Derived from Ubuntu default') }}
# Getty borks after 10secs.
# After 5 retries, there's a pretty decent chance
# the port ain't there.
# So adjust the reswawn limit
#
# ttyS{{ conport }} - getty
#
# This service maintains a getty on ttyS{{ conport }} from the point the system is
# started until it is shut down again.

start on stopped rc RUNLEVEL=[12345]

stop on runlevel [!12345]

oom score -700
nice -10

respawn
respawn limit 5 60
exec /sbin/getty -L ttyS{{ conport }} 115200 vt102

