{#-
  keep this syntax as backwards compatible as possible because of old minions
#}
{%- set salt_ssh = 'tmp' in grains['saltpath'] %}

{%- if salt_ssh %}
{%-   set salt_call = 'salt-call --local --log-level quiet --out=newline_values_only ' %}
{%-   set dir_etc = salt.cmd.run(salt_call ~ 'config.get conf_file') %}
{%-   set dir_log = salt.cmd.run(salt_call ~ 'config.get log_file') %}
{%-   set current = salt.cmd.run(salt_call ~ 'grains.get saltversion') %}
{%- else -%}
{%-   set dir_etc = salt.config.get('conf_file') %}
{%-   set dir_log = salt.config.get('log_file') %}
{%-   set current = grains['saltversion'] %}
{%- endif %}
{%- set dir_etc = salt.file.dirname(dir_etc) %}
{%- set dir_log = salt.file.dirname(dir_log) %}

{%- set current = '.'.join(current.split('.')[0:2])|float %}
{#{%- set current = current|float %}#}

{%- set release = [salt['pillar.get']('salt:release', None), salt['pillar.get']('salt:master:version', None), current] %}
{%- set release = release|select('number')|list %}
{%- set release = release[0]|float %}

{%- set minion_svc = salt.grains.filter_by({
    'Linux': 'salt-minion',
    'FreeBSD': 'salt_minion',
    'SunOS': 'salt-minion',
}, grain='kernel') %}

{%- set pyver = salt.grains.filter_by({
      'default': grains['pythonversion'][0],
      'FreeBSD': (grains['pythonversion'][0:1]|join('')|int),
      'RedHat': (grains['pythonversion'][0:1]|join('')|int) if grains['pythonversion'][0] > 2 else 2,
      'Debian': grains['pythonversion'][0] if grains['pythonversion'][0] > 2 else '',
}, grain='os_family') %}

{% load_yaml as depmap %}
Fedora:
- augeas
- python{{ pyver }}-psutil
- python{{ pyver }}-pycurl
- python{{ pyver }}-libnacl
default:
  default:
  - augeas
  - python{{ pyver }}-psutil
  - python{{ pyver }}-pycurl
  - python{{ pyver }}-libnacl
#  - python{{ pyver }}-timelib
  Solaris: []
  Debian:
  - augeas-tools
  - python{{ pyver }}-augeas
  - python{{ pyver }}-pycurl
  - python{{ pyver }}-libnacl
#  - python{{ pyver }}-timelib
  RedHat:
  - augeas
  - python{{ pyver }}-psutil
  - python{{ pyver }}-pycurl
  - python{{ pyver }}-libnacl
#  - python{{ pyver }}-timelib

{%- endload %}

{%- do depmap.update({'default': salt['grains.filter_by'](depmap['default'])}) %}
{%- set minion_deps = salt['grains.filter_by'](depmap, grain='os') %}

{%- if grains.os_family == 'Debian' and grains.get('oscodename', 'Nope') not in ('precise', 'lucid', 'wheezy') %}
{%-   do minion_deps.append('python' + (pyver|string) + '-psutil') %}
{%- endif %}
{%- if salt['pillar.get']('salt:source', 'stable') == 'stable' %}
{%-   do minion_deps.append('salt-minion') %}
{%- endif %}
{%- if minion_deps and salt['grains.get']('virtual', False) == 'physical' %}
{%-   do minion_deps.append('dmidecode') %}
{%- endif %}

{%- set master_deps = salt['grains.filter_by']({
      'Fedora': ['python' + (pyver|string) + '-Cython', 'gnupg2'],
      'default': salt['grains.filter_by']({
        'default': ['python' + (pyver|string) + '-git', ('python' + (pyver|string) + '-' if pyver else '') + 'cython', 'gnupg'],
        'RedHat': [('python' + (pyver|string) + '-' if pyver > 2 else '') + 'Cython', 'gnupg2'],
      })
}, grain='os') %}
