{%- from 'shared.jinja' import root, uri %}
{%- from 'lib.jinja' import globals -%}
{%- from 'kube/lib.jinja' import dir_etc, dir_cert, dir_private, kube_comp, options with context -%}
{%- set kube_config = root|path_join(dir_etc, kube_comp ~ '.kubeconfig') %}
{%- set hostname = globals.host %}
{%- set adv_addr = globals.ip4 %}
{%- set feature_gates = salt['pillar.get']('kube:feature-gates', None).items()|map('join', '=')|sort|join(',') %}

{#---------------- SETTINGS ----------------
  https://kubernetes.io/docs/admin/kube-controller-manager/
  https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/08-bootstrapping-kubernetes-controllers.md#configure-the-kubernetes-api-server
-#}
{%- set master_addr = '127.0.0.1' %}
{%- set bind_addr = '0.0.0.0' %}
{%- load_yaml as mf_options %}
address: 127.0.0.1
{#scheduler-name: default-scheduler#}
feature-gates: {{ feature_gates }}
bind-address: {{ bind_addr }}
{#master: {{ uri(master_addr, 6443) }}#}
leader-elect: true
kubeconfig: {{ kube_config }}
authorization-kubeconfig: {{ kube_config }}
authentication-kubeconfig: {{ kube_config }}
secure-port: 10259
{%- endload %}
{%- set options = salt.slsutil.merge(options, mf_options) %}
