{%- from 'docker/engine/map.jinja' import docker with context %}
###
### Docker Environment file
###

# Delegated prefix (should be automagically added by {{ docker.prefix_file }}
#DELEGATED_PREFIX="--fixed-cidr-v6=my-awesome-prefix"

# All options given to the Docker daemon upon startup
# Be careful not to include (conflicting?) ones that are already in daemon.json as that is considered an error now
#DOCKER_OPTS="-H fd://"

# if sipcalc is installed, relegate only the first SUBNET_SIZE bits of the delegated prefix to Docker
#SUBNET_SIZE=80
