{%- set name = opts.id.split('.')[0] %}
{%- set run_dir = '/var/tmp/gitlab-runner' %}
concurrent = {{ grains.num_cpus * 4 }}

[[runners]]
  name = "{{ name }}-docker"
  url = "https://{{ pillar.gitlab.runner.coordinator }}/ci"
{%- if salt['pillar.get']('gitlab:runner:executor:docker:token', False) %}
  token = "{{ pillar.gitlab.runner.executor.docker.token }}"
{%- endif %}
  executor = "docker"
  environment = ["SSH_AUTH_SOCK={{ run_dir }}/ssh_agent.sock", "SSH_ID=generic-ro.rsa", "GIT_SSH_COMMAND=ssh -i /var/tmp/gitlab-runner/${SSH_ID}.pub -o VerifyHostKeyDNS=yes -o GlobalKnownHostsFile={{ run_dir }}/known_hosts"]
  [runners.docker]
    image = "alpine"
    privileged = false
    disable_cache = false
    volumes = ["{{ run_dir }}/docker/:{{ run_dir }}:ro", "/cache"]
  [runners.cache]
    Insecure = false

[[runners]]
  name = "{{ name }}-shell"
  url = "https://{{ pillar.gitlab.runner.coordinator }}/ci"
{%- if salt['pillar.get']('gitlab:runner:executor:shell:token', False) %}
  token = "{{ pillar.gitlab.runner.executor.shell.token }}"
{%- endif %}
  executor = "shell"
  environment = ["SSH_AUTH_SOCK={{ run_dir }}/shell/ssh_agent.sock", "SSH_ID=generic-ro.rsa", "GIT_SSH_COMMAND=ssh -o VerifyHostKeyDNS=yes -i /var/tmp/gitlab-runner/${SSH_ID}.pub -o GlobalKnownHostsFile=/etc/gitlab-runner/known_hosts"]
  [runners.cache]
    Insecure = false
