{%- from 'shared.jinja' import salt_header -%}
{{ salt_header() }}
[Unit]
Description=GitLab Runner SSH agent for {{ executor }} executor
Before=gitlab-runner.service
After=network.target

[Service]
Type=forking
Environment=GLR_PATH={{ run_path }}
Environment=SSH_AUTH_SOCK={{ run_path }}/ssh_agent.sock
ExecStartPre=-/usr/bin/install -m 750 -o {{ user }} -d $GLR_PATH
{%- if user is number %} {# SystemD doesn't do users that don't exist (and are therefore only defined by their uid) #}
ExecStart=/usr/bin/sudo -nu #{{ user }} /usr/bin/ssh-agent -a $SSH_AUTH_SOCK
{%- else %}
PermissionsStartOnly=True
User={{ user }}
ExecStart=/usr/bin/ssh-agent -a $SSH_AUTH_SOCK
{%- endif %}
{#TODO: End with slash or bork #}
{%- if not pub_path.endswith('/') %}
{%-   set pub_path = pub_path ~ '/' %}
{%- endif %}
ExecStartPost=/usr/bin/rsync -rpt {{ pub_path }} $GLR_PATH
ExecStartPost=/usr/bin/find {{ key_path }} -iregex '.+\.\(rsa\|dsa\|ecdsa\|ed25519\)$' -exec /usr/bin/ssh-add {} \;

[Install]
WantedBy=default.target
