[mon]
  pre start command = "sleep 5"
  osd pool default size = 3

{%- set default_ruleset = conf.get('osd pool default crush replicated ruleset', 0) %}
{%- set ruleset_name = salt.cmd.run_all('ceph --connect-timeout 5 osd crush rule ls --format=json', output_loglevel='quiet') %}
{%- if ruleset_name['retcode'] == 0 %}
{%-   set ruleset_name = ruleset_name['stdout']|load_json %}
{%-   set ruleset_name = ruleset_name[default_ruleset] %}
  # New pools should by default use '{{ ruleset_name }}'
  osd pool default crush replicated ruleset = {{ default_ruleset }}
{%- endif %}

  # Mark OSDs out after 3 hours instead of 5 minutes
  mon osd down out interval = 10800

{##
  The requirement is that no single OSD server can mark another down
  For this we turn to the OSD tree and find the 'host' with the least
  children. Add one. Profit.
#}
{%- set osd_tree = salt.cmd.run_all('ceph --connect-timeout 5 osd tree --format json', output_loglevel='quiet') %}
{%- if osd_tree['retcode'] == 0 %}
{%-   set osd_tree = osd_tree['stdout']|load_json %}
{%-   for item in osd_tree.nodes|selectattr('type', 'host') %}
{%-     set iccount = item.children|count %}
{%-     if iccount  < osd_count[-1] %}
{%-       do osd_count.append(iccount) %}
{%-     endif %}
{%-   endfor %}
{%-   if osd_count|length > 1 %}
{%-     set osd_count = osd_count[-1] %}
{%-     set osd_min = osd_count + 1 %}
  # We have at least {{ osd_count }} OSDs per host,
  # so we require at least {{ osd_min }} OSDs to report another as down,
  # to prevent one host from marking the rest down
  mon osd min down reporters = {{ osd_min }}
{%-   endif %}
{%- endif %}

  mon warn on legacy crush tunables = false

  # Do not allow pool removal
  mon allow pool delete = false

  # An OSD should send a report every 120 seconds or be marked as down
  mon osd report timeout = 120

  mon osd allow primary affinity = true

  # Turn off logging as much as possible
  debug mon = 0/0

{% for mon, addr in mon.items() %}
{#- Minion really ought to be one of these #}
{%-   set ip = addr|replace('[', '')|replace(']', '') %}
{%-   set ip = ip.split(':')[:-1]|join(':') %}
{%-   if ip in grains.ipv4 or ip in grains.ipv6 %}
[mon.{{ mon }}]
  host = {{ grains.host }}
  mon addr = {{ addr }}
{%-   endif %}
{%- endfor %}
