{%- from 'shared.jinja' import salt_header -%}
{{ salt_header(msgs='Default Ubuntu 14.04 Redis configuration where comments have been stripped out') }}

daemonize yes

pidfile /var/run/redis/redis-server.pid

port {{ salt['pillar.get']('redis:port', 6379) }}
bind {{ salt['pillar.get']('redis:bind', '127.0.0.1') }}

timeout 0

tcp-keepalive 0

loglevel notice

logfile /var/log/redis/redis-server.log

databases {{ salt['pillar.get']('redis:databases', 16) }}

save 900 1
save 300 10
save 60 10000

stop-writes-on-bgsave-error yes

rdbcompression yes

rdbchecksum yes

dbfilename dump.rdb

dir /var/lib/redis

slave-serve-stale-data yes

slave-read-only yes

repl-disable-tcp-nodelay no

slave-priority 100

{% if salt['pillar.get']('redis:masterauth', False) %}
masterauth {{ salt['pillar.get']('redis:masterauth') }}
{% endif %}

{% if salt['pillar.get']('redis:requirepass', False) %}
requirepass {{ salt['pillar.get']('redis:requirepass') }}
{% endif %}

{% if pillar['redis:maxmemory'] is defined %}
maxmemory {{ salt['pillar.get']('redis:maxmemory') }}
{% endif %}

appendonly no

appendfilename "appendonly.aof"

appendfsync everysec

no-appendfsync-on-rewrite no

auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb

lua-time-limit 5000

slowlog-log-slower-than 10000

slowlog-max-len 128

notify-keyspace-events ""

hash-max-ziplist-entries 512
hash-max-ziplist-value 64

list-max-ziplist-entries 512
list-max-ziplist-value 64

set-max-intset-entries 512

zset-max-ziplist-entries 128
zset-max-ziplist-value 64

activerehashing yes

client-output-buffer-limit normal 0 0 0
client-output-buffer-limit slave 256mb 64mb 60
client-output-buffer-limit pubsub 32mb 8mb 60

hz 10

aof-rewrite-incremental-fsync yes
