{%- load_yaml as default %}
vault:
  loglevel: info
  version: 1.0.2
  bootstrap:
    shares: 6
    threshold: 2
  storage: file
  url: https://127.0.0.1:8200
  tls: vault
  listen:
{%- for ip in salt.nettools.pick_wan(salt.network.interfaces()) %}
  - 'https://[{{ ip }}]:8200'
{%- endfor %}
  config: {}
  auth:
    approle: []
  ca:
    vault:
      common_name: Vault CA
      organization: Salt/Vault
      ou: Automation
      country: Netherlands
      province: Zeeland
      roles:
        tls:
           allow_localhost: True
           key_type: ec
           key_bits: 384
           organization: Salt/Vault
           ou: Automation
           country: Netherlands
           province: Zeeland
{%- endload %}
{%- set vault = salt['pillar.get']('vault', default=default.vault, merge=True) %}
