{%- from 'lib.jinja' import globals -%}
{%- from 'kube/lib.jinja' import dir_etc, dir_cert, dir_private, kube_comp, kube_bin, options with context -%}
{%- from 'etcd/lib.jinja' import etcd_url -%}
{%- set zone = globals.zone %}
{%- set domain = globals.domain %}
{%- set hostname = globals.host %}
{%- set adv_addr = globals.ip4 %}
{%- set clu_addr = salt.nettools.propose(pillar.kube.options['service-cluster-ip-range'], 1) %}
{%- set admissions = pillar.kube.apiserver.admissions %}
{%- set runtimes = pillar.kube.apiserver.runtimes %}
{#---------------- SETTINGS ----------------
  https://kubernetes.io/docs/admin/kube-apiserver/
  https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/08-bootstrapping-kubernetes-controllers.md#configure-the-kubernetes-api-server
-#}
{%- set bind_addr = '0.0.0.0' %}
{%- set feature_gates = salt['pillar.get']('kube:feature-gates', {}).items()|map('join', '=')|sort|join(',') %}
{%- load_yaml as mf_options %}
feature-gates: {{ feature_gates }}
#  insecure-bind-address: 127.0.0.1
#  insecure-port: 8080
bind-address: {{ bind_addr }}
secure-port: 6443
{#kubernetes-service-node-port: 30443#}
advertise-address: {{ adv_addr }}
external-hostname: {{ pillar.kube.master[8:].split(':')[0] }}

audit-policy-file: {{ dir_etc|path_join('audit-policy.yml') }}
audit-log-path: /var/log/kubernetes/audit.log
anonymous-auth: False
authorization-mode: Node,RBAC
allow-privileged: True  {#- Dealt with by PodSecurityPolicy #}
runtime-config: {{ runtimes|join(',') }}
enable-admission-plugins: {{ admissions|join(',') }}

client-ca-file: {{ globals.cert_dir|path_join('kube-client-ca-bundle.crt') }}
tls-cert-file: {{ dir_cert|path_join('kube-system-chain.pem') }}
tls-private-key-file: {{ dir_private|path_join('kube-system-key.pem') }}

etcd-prefix: /kube/{{ pillar.kube.cluster }}
etcd-cafile: {{ globals.cert_dir|path_join('etcd-client-ca.pem') }}
etcd-certfile: {{ dir_cert|path_join('etcd-client.pem') }}
etcd-keyfile: {{ dir_private|path_join('etcd-client-key.pem') }}
etcd-servers: {{ etcd_url(names=False) }}
encryption-provider-config: {{ dir_etc|path_join('encryption-config.yml') }}

kubelet-certificate-authority: {{ globals.cert_dir|path_join('kube-system-ca.pem') }}
kubelet-client-certificate: {{ dir_cert|path_join('kube-system.pem') }}
kubelet-client-key: {{ dir_private|path_join('kube-system-key.pem') }}
kubelet-https: True

service-account-key-file: {{ globals.cert_dir|path_join('kube-service-account.pub') }}  {# File containing PEM-encoded x509 RSA or ECDSA private or public keys, used to verify ServiceAccount tokens. If unspecified, --tls-private-key-file is used. The specified file can contain multiple keys, and the flag can be specified multiple times with different files. #}
# service-node-port-range: 30000-32767  # TODO

enable-aggregator-routing: true
requestheader-client-ca-file: {{ globals.cert_dir|path_join('kube-system-ca.pem') }}
requestheader-allowed-names: aggregrator,front-proxy-client
requestheader-extra-headers-prefix: X-Remote-Extra-
requestheader-group-headers: X-Remote-Group
requestheader-username-headers: X-Remote-User
proxy-client-cert-file: {{ dir_cert|path_join('aggregrator.pem') }}
proxy-client-key-file: {{ dir_private|path_join('aggregrator-key.pem') }}

profiling: False
{%- endload %}
{%- set options = salt.slsutil.merge(options, mf_options) %}
