{%- from 'shared.jinja' import root %}
{%- load_yaml as paths %}
Debian:
  env: /etc/default
  certs: /etc/ssl/certs
  private: /etc/ssl/private
RedHat:
  env: /etc/sysconfig
  certs: /etc/pki/tls/certs
  private: /etc/pki/tls/private
cnt:
  certs: /etc/pki/tls/certs
  private: /etc/pki/tls/private
{%- endload %}
{%- if root == '/' %}
{%-   set cnt_paths = paths.cnt %}
{%-   set paths = salt.grains.filter_by(paths) %}
{%- else %}
{%-   set host_paths = salt.grains.filter_by(paths) %}
{%-   set paths = paths.cnt %}
{%- endif %}

{%- set golang_arch = salt.grains.filter_by({
      'x86_64': 'amd64',
      'default': grains.osarch
}, grain='osarch') %}
