{#- Set proxy envs for this subproc #}
{% macro proxy(key, mod=None) %}
{%- if 'proxy_pkg' in pillar and grains.ipv4|count <= 1 %}
{%-   set proxy = pillar.proxy_pkg %}
{#{ range(0,1024)|random() }}_proxy: <= It'd be nice to take something like runtime in nsec #}
{{ key }}_proxy:
  environ.setenv:
  - value:
      HTTP_PROXY: {{ proxy }}
      HTTPS_PROXY: {{ proxy }}
      FTP_PROXY: {{ proxy }}
      http_proxy: {{ proxy }}
      https_proxy: {{ proxy }}
      ftp_proxy: {{ proxy }}
{%-   if mod %}
  - require_in:
    - {{ mod }}: {{ key }}
{%-   endif %}
{%- endif %}
{%- endmacro %}

{#- For chrooted stuff #}
{%- set root = pillar.get('root', '/') %}

{##-
  YAML cb conditional list/key/arg handydandies

  list_if: drop '- something' if test succeeds
  key_if:  drop 'key: something' if test succeeds
  arg_if: drop '-arg value' if test succeeds
  param_if: drop '- key: something' if test succeeds

  if someone can explain the necessary + 2/3 plz enlighten me
#}
{%- macro list_if(test, include, else='', indent=0) -%}
{%- set list_i = include if test else else -%}
{{ ('- '.rjust(indent + 2, ' ') ~ list_i) if list_i else '' }}
{%- endmacro -%}

{%- macro list_if_pillar(pillar_key, include, else='', default=None, indent=0) -%}
{{ list_if(salt['pillar.get'](pillar_key, default), include, else, indent) }}
{%- endmacro -%}

{%- macro key_if(test, key, include, else='', indent=0) -%}
{%- set key_i = include if test else else -%}
{{ (key.rjust(indent + 2, ' ') ~ ': ' ~ include) if key_i else '' }}
{%- endmacro -%}

{%- macro key_if_pillar(pillar_key, key, include, else='', default=None, indent=0) -%}
{{ key_if(salt['pillar.get'](pillar_key, default), key, include, else, indent) }}
{%- endmacro -%}

{%- macro param_if(test, key, include, else='', indent=2) -%}
{{ list_if(test, key ~ ': ' ~ include, (key ~ ': ' ~ else) if else else '', indent) }}
{%- endmacro -%}

{%- macro param_if_pillar(pillar_key, key, include, else='', default=None, indent=0) -%}
{{ param_if(salt['pillar.get'](pillar_key, default), key, include, else, indent) }}
{%- endmacro -%}

{%- macro arg_if(test, arg, value='', prefix='-', sep=' ', else='') -%}
{%- if value is sameas None -%}
{{ (prefix ~ arg) if test else else }}
{%- else -%}
{{ (prefix ~ arg ~ sep ~ (value if value != '' else test)) if test else else }}
{%- endif -%}
{%- endmacro -%}

{%- macro arg_if_pillar(pillar_key, arg, value=None, prefix='-', sep=' ', else='') -%}
{%- set pvalue = salt['pillar.get'](pillar_key, None) -%}
{{ arg_if(pvalue, arg, value if value is not sameas None else pvalue, prefix, sep, else) }}
{%- endmacro -%}


{#- handy-dandy macro for SSH key/pub files (not the authorized_keys) #}
{% macro ssh_key(name, pub, key=None, key_path=None, pub_path=None, user='root', group='root', format='rsa') %}
{%- set name = name ~ '.' ~ format %}
{%- if not key_path %}
{%-   set key_path = salt.user.info(user).home|path_join('.ssh') %}
{%- endif %}
{%- if not pub_path %}
{%-   set pub_path = key_path %}
{%- endif %}
{%- if key %}
ssh-{{ name }}-key:
  file.managed:
  - name: {{ key_path|path_join(name) }}
  - mode: 600
  - user: {{ user }}
  - group: {{ group }}
  - contents: |
      {{ key|indent(6) }}
{%- endif %}

ssh-{{ name }}-pub:
  file.managed:
  - name: {{ pub_path|path_join(name ~ '.pub') }}
  - mode: 644
  - user: {{ user }}
  - group: {{ group }}
  - contents: |
      {{ pub|indent(6) }}
{%- endmacro %}


{#- SaltStack Generated Header #}
{% macro salt_header(comment='#', msgs=[]) %}
{%- if not msgs %}
{%-   set all_msgs = ['MANAGED BY SALTSTACK'] %}
{%- else %}
{%-   set all_msgs = ['MANAGED BY SALTSTACK', ''] %}
{%-   if msgs is string %}
{%-     do all_msgs.append(msgs) %}
{%-   else %}
{%-     do all_msgs.extend(msgs) %}
{%-   endif %}
{%- endif %}
{%- set width = (all_msgs|map('length')|sort)[-1] + 16 -%}
{{ ''.rjust(width, comment) }}
{%- for msg in all_msgs %}
{{ '    '.rjust(8, comment) ~ msg ~ ''.rjust(width - (msg|length) - 12, ' ') ~ ''.rjust(4, comment) }}
{%- endfor %}
{{ ''.rjust(width, comment) }}
{%- endmacro -%}


{#- It's a URI. Always a URI #}
{% macro uri(host, port=None, proto='https') -%}
{%- if ':' in host %}
{%-   set host = '[' ~ host ~ ']' %}
{%- endif -%}
{{proto}}://{{host}}{{(':' ~ port|string) if port else ''}}
{%- endmacro %}


{#- Drop a list of args as proper params #}
{% macro to_args(args, indent=4, prefix='--', sep='=', sort=False) -%}
{%- if args is mapping %}
{%-   if sort %}
{%-     set args = args|dictsort %}
{%-   else %}
{%-     set args = args.items() %}
{%-   endif -%}
{%-   for k, v in args %}
{{ "- '".rjust(indent + 3, ' ') ~ '{}{}{}{}'.format(prefix, k, sep, v) }}'
{%-   endfor %}
{%- else %}
{%-   if sort %}
{%-     set args = args|sort %}
{%-   endif -%}
[{{ args|map('string')|map('regex_replace', '^(.*)$', "'\\1'")|join(', ') }}]
{%- endif -%}
{% endmacro %}


{#- Drop a list of args as proper params #}
{% macro to_env_args(args, indent=4, prefix='--', sep='=', sort=False) -%}
{%- if args is mapping %}
{%-   if sort %}
{%-     set args = args|dictsort %}
{%-   else %}
{%-     set args = args.items() %}
{%-   endif -%}
{%-   for k, v in args %}
{{ ' '.rjust(indent + 3, ' ') ~ '{}{}{}{}'.format(prefix, k, sep, v) }} \
{%-   endfor %}
{%- else %}
{%-   if sort %}
{%-     set args = args|sort %}
{%-   endif -%}
[{{ args|map('string')|map('regex_replace', '^(.*)$', "'\\1'")|join(', ') }}]
{%- endif -%}
{% endmacro %}
