{%- from 'shared.jinja' import salt_header %}
{{ salt_header(msgs=[
     'Refer to /opt/gitlab/etc/gitlab.rb.template',
     'or https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/files/gitlab-config-template/gitlab.rb.template',
     '',
     'DEFAULT TEMPLATE (/opt/gitlab/etc/gitlab.rb.template)'
]) }}

{{ salt.cp.get_file_str('/opt/gitlab/etc/gitlab.rb.template') }}

{{ salt_header(msgs='PILLAR DATA') }}
{%- for k,v in salt.pillar.get('gitlab:config', {}).items() %}
{%-   if v is string %}
{{ k }} '{{ v }}'
{%-   elif v is number %}
{{ k }} {{ v }}
{%-   else %}
{{ k }} = YAML.load <<-'{{ k|upper() }}'
{{ v|yaml(False) }}
{{ k|upper() }}
{%-   endif %}
{%- endfor %}
