[client.radosgw]
  rgw enable apis = "s3, admin"
  rgw print continue = true
  rgw socket path = /var/run/radosgw.sock
  rgw remote addr param = X-Forwarded-For
  rgw resolve cname = true
  rgw enable ops log = false
  rgw expose bucket = true
  rgw frontends = "civetweb port=[::]:7480"
  rgw thread pool size = 1024
  rgw op thread suicide timeout = 120
  rgw num rados handles = 4
  rgw override bucket index max shards = 16

[client.radosgw.{{ grains.host }}]
  host = {{ grains.host }}
  keyring = /etc/ceph/{{ cluster }}.radosgw.{{ grains.host }}.keyring
  rgw dns name = {{ rgw.dns }}
  rgw zone = {{ rgw.zone }}
  rgw region = {{ rgw.region }}
  rgw zonegroup = {{ rgw.region }}
  rgw admin entry = {{ rgw.admin }}
