{%- from 'shared.jinja' import salt_header -%}
{{ salt_header() }}
{%- for fqdn in members %}
{%-   if fqdn is mapping %}
{%-     set data = fqdn.values()[0] %}
{%-     set fqdn = fqdn.keys()[0] %}
{%-   else %}
{%-     set data = {} %}
{%-   endif %}
{%-   if not '.' in fqdn and domain %}
{%-     set fqdn = fqdn ~ '.' ~ domain %}
{%-   endif %}
{{ fqdn }};{{ data.get('mfg', mfg) }};{{ data.get('state', state) }}
{%- endfor %}
