{%- from 'shared.jinja' import root -%}
{%- from 'lib.jinja' import globals -%}
{%- from 'kube/lib.jinja' import dir_etc, dir_cert, dir_private, kube_base, options, config with context -%}
{#---------------- SETTINGS ----------------
  https://kubernetes.io/docs/admin/kubelet
  https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/09-bootstrapping-kubernetes-workers.md#configure-the-kubelet
-#}
{%- set bind_addr = '0.0.0.0' %}
{%- set standalone = salt['pillar.get']('kube:let:standalone', False) %}

{%- load_yaml as mf_config %}
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
{%-   if salt.pillar.get('kube:feature-gates', False) %}
featureGates: {{ salt.pillar.get('kube:feature-gates') }}
{%-   endif %}
staticPodPath: {{ dir_etc|path_join('staticpods.d') }}
Address: {{ globals.ip4 }}
hairpinMode: hairpin-veth
resolvConf: /etc/kubernetes/resolv.conf
{%-   if not standalone %}
tlsCertFile: {{ dir_cert|path_join('kubelet.pem') }}
tlsPrivateKeyFile: {{ dir_private|path_join('kubelet-key.pem') }}
clusterDomain: {{ pillar.kube.domain }}
authorizationMode: Webhook
authorization:
    mode: Webhook
authentication:
    x509:
      clientCAFile: {{ globals.cert_dir|path_join('kubelet-ca.pem') }} {#- kube api|ctl etc > Kubelet #}
    webhook:
      enabled: True
    anonymous:
      enabled: False
{%-   endif %}
{%- endload %}
{%- set config = salt.slsutil.merge(config, mf_config) %}


{%- set feature_gates = salt['pillar.get']('kube:feature-gates', {}).items()|map('join', '=')|sort|join(',') %}
{%- load_yaml as mf_options %}
config: {{ dir_etc|path_join('kubelet-config.yml') }}
node-ip: {{ globals.ip4 }}
{%-   set runtime = salt.pillar.get('kube:let:runtime', False) %}
{%-   if runtime %}
{%-     if runtime == 'containerd' %}
{%-       set socket = '/var/run/containerd/containerd.sock' %}
{%-     elif runtime == 'crio' %}
{%-       set socket = '/var/run/crio/crio.sock' %}
{%-     endif %}
container-runtime: remote
container-runtime-endpoint: unix://{{ socket }}
{%-   endif %}
{%-   if not standalone %}
provider-id: {{ grains.machine_id }}
kubeconfig: {{ dir_etc|path_join('kubelet.kubeconfig') }}
network-plugin: cni  {#- CNI plugins #}
node-labels:
{#    beta.kubernetes.io/instance-type: n1-standard-2,#}
    failure-domain.beta.kubernetes.io/region: {{ pillar.region }}
    failure-domain.beta.kubernetes.io/zone: {{ pillar.zone }}
dynamic-config-dir: /var/lib/kubelet/dynamic-config/
{%-   endif %}
{%- endload %}
{%- set options = salt.slsutil.merge(options, mf_options) %}

{%- do options.update({'node-labels': options['node-labels'].items()|map('join', '=')|join(',')}) %}
