{%- set redis = salt.grains.filter_by({
  'Debian': {
    'pkgs': ['redis-server'],
     'service': 'redis-server',
     'config': '/etc/redis/redis.conf'
  },
  'RedHat': {
    'pkgs': ['redis'],
    'service': 'redis',
    'config': '/etc/redis.conf'
  },
}) %}
