{%- from 'shared.jinja' import salt_header -%}
{%- from 'shared.jinja' import salt_header -%}

{{ salt_header() }}
# For more information about this file, see the man pages
# ntp.conf(5), ntp_acc(5), ntp_auth(5), ntp_clock(5), ntp_misc(5), ntp_mon(5).

######## SETTINGS ########
driftfile /var/lib/ntp/drift

# Enable this if you want statistics to be logged.
#statsdir /var/log/ntpstats/
#how 'bout 'enable stats' ?

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

# Disable the monitoring facility to prevent amplification attacks using ntpdc
# monlist command when default restrict does not include the noquery flag. See
# CVE-2013-5211 for more details.
# Note: Monitoring will not be disabled with the limited restriction flag.
disable monitor 

######## INTERFACE & ACL's ########
restrict -4 default ignore
restrict -6 default nomodify notrap noquery
# Permit all access over the loopback interface.  This could
# be tightened as well, but to do so would effect some of
# the administrative functions.
restrict 127.0.0.1
restrict ::1

{# TODO! #}
#Peers
# Permit time synchronization with our time source, but do not
# permit the source to query or modify the service on this system.
#restrict -6 {# peer #} nomodify notrap noquery ntpport version

#Clients
# Permit time synchronization with our time source, but do not
# permit the source to query or modify the service on this system.
#restrict {# client #} nomodify notrap nopeer noquery ntpport version

{%- set prefer='prefer' %}
{%- if masters %}
######## MASTER POOL ########
#incomplete due to ACLs
{%-   for server in masters %}
#server {{ server }} iburst {{ prefer }}
{%-   endfor %}
{%-   set prefer='' %}
{%- endif %}

{%- if private %}
######## INTERNAL POOL ########
#incomplete due to ACLs
{%-   for server in private %}
server {{ server }} iburst {{ prefer }}
{%-   endfor %}
{%- endif %}

######## PUBLIC POOL ########
# Use public servers from the pool.ntp.org project.
# Please consider joining the pool (http://www.pool.ntp.org/join.html).
# 2.{pool} contains IPv6 servers
# List is mapped based on nearest to {{ salt.timezone.get_zone() }}
{%- for pool in public %}
server 2.{{ pool }}.pool.ntp.org iburst
{%- endfor %}

{%- if peers %}
######## BUDDIES ########
{%-   for buddy in (peers|batch(5)|list)[0] %}
peer {{ buddy }}
{%-   endfor %}
{%- endif %}

######## OTHER CRAP ########
#broadcast 192.168.1.255 autokey        # broadcast server
#broadcastclient                        # broadcast client
#broadcast 224.0.1.1 autokey            # multicast server
#multicastclient 224.0.1.1              # multicast client
#manycastserver 239.255.254.254         # manycast server
#manycastclient 239.255.254.254 autokey # manycast client

# Enable public key cryptography.
#crypto

#includefile /etc/ntp/crypto/pw

# Key file containing the keys and key identifiers used when operating
# with symmetric key cryptography.
#keys /etc/ntp/keys

# Specify the key identifiers which are trusted.
#trustedkey 4 8 42

# Specify the key identifier to use with the ntpdc utility.
#requestkey 8

# Specify the key identifier to use with the ntpq utility.
#controlkey 8
