{##
  Timezone is assumed to be an approximation of the geographical location of the minion.
  Therefore we pick pools that are located in the country and close to it
#}
{%- load_yaml as tz_map %}
Europe/Amsterdam: [nl, de, be, lu, uk]
Europe/Paris: [fr, es, be, de, ch]
Europe/Berlin: [de, ch, at, dk, cz]
America/New_York: [us, ca, us, ca, us]
America/Los_Angeles: [us, ca, us, ca, us]
Asia/Tokyo: [jp, cn, hk, tw, kr]
default: [rhel, ubuntu, centos, debian, freebsd]
{%- endload %}

{% set public = tz_map.get(pillar.get('timezone', salt.timezone.get_zone()), tz_map.default) %}
