{%- set docker = salt.grains.filter_by({
  'Debian': {
    'env_file': '/etc/default/docker',
    'hook_file': '/etc/dhcp/dhclient-enter-hooks.d/docker',
    'prefix_file': '/var/lib/dhcp/fixed-cidr-v6',
  },
  'RedHat': {
    'env_file': '/etc/sysconfig/docker',
    'hook_file': '/etc/dhcp/dhclient-enter-hooks.d/docker.sh',
    'prefix_file': '/var/lib/NetworkManager/fixed-cidr-v6',
  },
}) %}
